---
import BaseLayout from "../../layouts/BaseLayout.astro";
import ServicesForm from "../../react/components/services/BitsServices";
import Footer from "../Footer.astro";
import Layout from "../../layouts/Layout.astro";
---

<!-- ------- Contact services form ------- -->
<Layout>
  <nav
    class="text-white/40 pt-10 ml-10 md:ml-15 md:pt-10 mx-20 max-w-sm overflow-hidden rounded-xl shadow-md sm:max-w-md md:max-w-2xl lg:max-w-4xl 2xl:max-w-6xl font-light font-serif cursor-pointer"
  >
    <ul class="flex gap-1">
      <li class="hover:text-white">
        <a href="/">Home</a>
      </li>
      <li class="hover:text-white">
        <a href="/second-pages/ServicesPage/">/Services</a>
      </li>
      <li class="text-white">
        <a href="">/Beats</a>
      </li>
    </ul>
  </nav>
  <ServicesForm client:only="react" />
  <Footer />
</Layout>
