<footer class="pt-35">
  <div class="w-full max-w-xl mx-auto p-4 md:p-8">
    <video
      autoplay
      loop
      muted
      class="fixed top-0 left-0 w-full h-full object-cover -z-10"
    >
      <source src="/background-video-4.mp4" type="video/mp4" />
    </video>
    <p class="text-center">
      <a class="text-neutral-300 hover:text-white hover:underline" href="/"
        >© 2025 G-Graph Systems. All rights reserved.</a
      >
    </p>
  </div>
</footer>
