<nav
  class="text-white flex items-center justify-center relative px-10 sm:px-15 md:px-20 lg:px-35 2xl:px-50 py-6"
>
  <div class="flex-1">
    <h1 class="cursor-pointer text-3xl font-bold sm:pl-2">IanVSol 🎧</h1>
  </div>

  <div class="flex-1 flex justify-center">
    <ul class="justify-center ml-2 lg:ml-15 flex gap-5">
      <li
        class="text-neutral-30 hover:scale-105 hover:text-white transition-transform"
      >
        <a href="">Work</a>
      </li>
      <li
        class="text-neutral-300 hover:scale-105 transition-transform hover:text-white"
      >
        <a href="">About</a>
      </li>
    </ul>
  </div>
  <div class="flex-1"></div>
  <button
    class="bg-white text-black p-3 rounded-2xl hover:bg-purple-500 hover:scale-105 hover:text-white transition-transform"
    >Contact</button
  >
</nav>
