<nav
  class="text-white flex items-center justify-center relative px-10 sm:px-15 md:px-20 lg:px-35 2xl:px-50 py-6"
>
  <div class="flex-1">
    <h2 class="cursor-pointer">IanVSol</h2>
  </div>

  <div class="flex-1 flex justify-center">
    <ul class="justify-center ml-15 flex gap-5">
      <li class="text-neutral-300 hover:text-white transition">
        <a href="">Work</a>
      </li>
      <li class="text-neutral-300 hover:text-white"><a href="">About</a></li>
    </ul>
  </div>
  <div class="flex-1"></div>
  <button
    class="bg-white text-black p-3 rounded-2xl hover:bg-neutral-200 hover:scale-105 transition-transform"
    >Contact</button
  >
</nav>
