<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Ian V Sol</title>
  </head>
  <body class="static-bg min-h-screen w-full">
    <!-- Your page content -->
    <main class="relative z-10">
      <slot />
    </main>
  </body>
</html>
<style is:global>
  @import "tailwindcss";
  @plugin "@midudev/tailwind-animations";
  html,
  .static-bg {
    background:
      radial-gradient(circle at 80% -10%, rgba(0, 0, 0, 0.35), transparent 60%),
      radial-gradient(circle at 10% 60%, rgba(0, 0, 0, 0.4), transparent 70%),
      #000000;
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>
