<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Ian V Sol</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  @import "tailwindcss";
  @plugin "@midudev/tailwind-animations";
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: black;
  }
</style>
