<!-- ---------------------------------------- About Me ------------------------------------>
<section
  class="pt-40 mx-auto max-w-sm overflow-hidden rounded-xl shadow-md sm:max-w-md md:max-w-2xl lg:max-w-4xl 2xl:max-w-6xl"
>
  <div class="pt-12 md:pt-8 md:grid md:grid-cols-1 md:grid-rows-1 md:gap-4">
    <div class="text-center text-white md:text-left col-span-2 row-start-2">
      <div>
        <img
          class="pt-6 px-2 size-40 w-55
                  sm:pt-0 sm:size-40 sm:w-60
                  md:pt-0 md:size-40 md:w-65
                  lg:pt-0 lg:size-40 lg:w-152 lg:h-80"
          src="/src/assets/Photo.jpg"
          alt=""
        />
      </div>
      <div class="flex">
        <img
          class="pt-6 px-2 size-40 w-55
                  sm:pt-0 sm:size-40 sm:w-60
                  md:pt-0 md:size-40 md:w-65
                  lg:pt-0 lg:size-50 lg:w-75"
          src="/src/assets/Photo.jpg"
          alt=""
        />
        <img
          class="pt-6 size-40 w-55
                  sm:ml-28 sm:mt-6 sm:size-40 sm:w-60
                  md:pt-0 md:ml-45 md:size-40 md:w-65
                  lg:ml-0 lg:pt-0 lg:size-50 lg:w-75 lg:mt-0
                  2xl:ml-0 2xl:pt-0"
          src="/src/assets/Photo.jpg"
          alt=""
        />
      </div>
    </div>
    <div
      class="col-span-2 pt-15 ml-22 sm:pt-10 sm:ml-30 md:-mt-5 md:mr-2 justify-center row-start-2"
    >
      <div class="pt-20">
        <p
          class="text-neutral-500 pt-3 px-10 ml-2 pl-1 w-60
          sm:px-10 sm:pl-1 sm:w-60
          md:px-10 md:pl-1 md:w-80
          lg:pl-1 lg:px-20 lg:w-90
          2xl:px-10 2xl:pl-5 2xl:w-120
          text-sm"
        >
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae officia
          molestiae laborum, esse ratione possimus, odit nostrum aliquid
          necessitatibus qui aut quasi. Dignissimos cum ex, tempore veniam quasi
          tenetur. Nesciunt, aspernatur libero. Tempora dignissimos maxime
          quisquam facilis quis harum in. Commodi ut quibusdam, dicta
        </p>
        <p
          class="text-neutral-500 pt-3 px-10 ml-2 pl-1 w-60
          sm:px-10 sm:pl-1 sm:w-60
          md:px-10 md:pl-1 md:w-80
          lg:pl-1 lg:px-20 lg:w-90
          2xl:px-10 2xl:pl-5 2xl:w-120
          text-sm"
        >
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae officia
          molestiae laborum, esse ratione possimus, odit nostrum aliquid
          necessitatibus qui aut quasi. Dignissimos cum ex, tempore veniam quasi
          tenetur. Nesciunt, aspernatur libero. Tempora dignissimos maxime
          quisquam facilis quis harum in. Commodi ut quibusdam, dicta
        </p>
      </div>
      <div class="pt-5 ml-5">
        <button
          class="p-2 px-4 bg-white hover:bg-neutral-300 hover:scale-105 transition-transform text-black rounded-2xl"
          >Learn More→</button
        >
      </div>
    </div>
  </div>
</section>
