---
import BaseLayout from "../../layouts/BaseLayout.astro";
import ContactFormServices from "../../components/ContactFormmTest";
---

<!-- ------- Services ------- -->
<BaseLayout>
  <nav
    class="text-white/40 pt-10 ml-10 md:ml-30 md:pt-10 mx-20 max-w-sm overflow-hidden rounded-xl shadow-md sm:max-w-md md:max-w-2xl lg:max-w-4xl 2xl:max-w-6xl font-light font-serif cursor-pointer"
  >
    <ul class="flex gap-0.5">
      <li class="hover:text-white">
        <a href="/">Home</a>
      </li>
      <li class="text-white">/About Me</li>
    </ul>
  </nav>
  <section
    class="pt-20 mx-auto max-w-sm overflow-hidden rounded-xl shadow-md sm:max-w-md md:max-w-2xl lg:max-w-4xl 2xl:max-w-6xl"
    id="about"
  >
    <h3
      class="text-4xl sm:text-4xl mb-20 md:mb-20 ml-8 md:ml-4 text-white lg:ml-0 md:text-4xl font-bold"
    >
      About Me
    </h3>

    <div class="grid md:grid-cols-2 text-white gap-16 items-center">
      <div class="grid grid-cols-2 gap-4">
        <img
          alt="Julian, the music producer, smiling."
          class="rounded-lg shadow-lg w-full h-64 object-cover col-span-2 hover:scale-105 transition transform"
          src="/ianDrums3.jpeg"
        />
        <!-- <img
          alt="Close-up of a hand on a mixing console."
          class="rounded-lg shadow-lg w-full h-48 object-cover hover:scale-105 transition transform"
          src="/ianDrumpsNight.jpg"
        />
        <img
          alt="Studio headphones resting on a desk."
          class="rounded-lg shadow-lg w-full h-48 object-cover hover:scale-105 transition transform"
          src="/ianDrumps.jpeg"
        /> -->
      </div>
      <div class="space-y-6 text-white">
        <h3 class="text-3xl ml-4 lg:ml-0 md:text-4xl font-bold">
          Hi! My Name is Ian
        </h3>
        <p
          class="ml-3 text-sm md:text-sm lg:ml-0 text-text-secondary-light dark:text-text-secondary-dark lg:text-lg"
        >
          With over a decade of experience in the music industry, I've had the
          pleasure of working with a diverse range of talented artists. My
          passion is to bring a creative vision to life through sound, ensuring
          every track is polished, powerful, and emotionally resonant.
        </p>
        <p
          class="ml-3 text-sm md:text-sm lg:ml-0 text-text-secondary-light dark:text-text-secondary-dark lg:text-lg"
        >
          My approach is collaborative and tailored to each project's unique
          needs. Whether you're a singer-songwriter or a global brand, I'm
          dedicated to delivering the highest quality audio that captivates your
          audience.
        </p>
        <!-- <button
          class="p-2 px-4 ml-5 lg:ml-0 bg-white hover:bg-purple-500 hover:scale-105 transition-transform text-black hover:text-white rounded-2xl
            active:bg-purple-600 active:text-white focus:text-white focus:bg-purple-600"
        >
          <a href="/sections/AboutMePage"> Learn More → </a>
        </button> -->
      </div>
      <div class="space-y-6 text-white">
        <p
          class="ml-3 text-sm md:text-sm lg:ml-0 text-text-secondary-light dark:text-text-secondary-dark lg:text-lg"
        >
          With over a decade of experience in the music industry, I've had the
          pleasure of working with a diverse range of talented artists. My
          passion is to bring a creative vision to life through sound, ensuring
          every track is polished, powerful, and emotionally resonant.
        </p>
        <p
          class="ml-3 text-sm md:text-sm lg:ml-0 text-text-secondary-light dark:text-text-secondary-dark lg:text-lg"
        >
          My approach is collaborative and tailored to each project's unique
          needs. Whether you're a singer-songwriter or a global brand, I'm
          dedicated to delivering the highest quality audio that captivates your
          audience.
        </p>
      </div>
      <div class="grid grid-cols-2 gap-4">
        <!-- <img
          alt="Julian, the music producer, smiling."
          class="rounded-lg shadow-lg w-full h-64 object-cover col-span-2 hover:scale-105 transition transform"
          src="/vsol-images.png"
        /> -->
        <img
          alt="Close-up of a hand on a mixing console."
          class="rounded-lg shadow-lg w-full h-66 object-cover hover:scale-105 transition transform"
          src="/ianDrums2.jpeg"
        />
        <img
          alt="Studio headphones resting on a desk."
          class="rounded-lg shadow-lg w-full h-66 object-cover hover:scale-105 transition transform"
          src="/ianDrums4.jpeg"
        />
      </div>
      <div class="grid grid-cols-2 text-white">
        <p
          class="ml-1 pt-5 w-100 md:w-2xl sm:w-md sm:ml-2 px-2 pb-30 md:pb-6 lg:pb-20 text-sm md:text-sm lg:-ml-2 lg:w-230 2xl:w-290 lg:text-lg text-text-secondary-light dark:text-text-secondary-dark"
        >
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae ullam
          blanditiis expedita dolores autem non tempora possimus odit, obcaecati
          sint? Error cum architecto veritatis id autem mollitia deserunt minus
          sunt voluptate veniam fugit reprehenderit aliquam assumenda, provident
          maxime tempora? Inventore dolore magni, voluptatibus vero optio
          voluptatum ad quia nostrum aliquid similique dolores repellat,
          perferendis deserunt quaerat ab quibusdam, corrupti voluptate. Tempora
          perferendis impedit, qui deleniti, repellendus unde fuga atque
          adipisci dolorem beatae nostrum delectus temporibus expedita dolorum
          quis similique eius. Rem obcaecati enim aspernatur doloremque a
          necessitatibus dolore architecto aut tenetur sit quibusdam distinctio
          unde eligendi animi ducimus, cupiditate dolores.
        </p>
      </div>
    </div>
    <!-- <div class="grid grid-cols-2 gap-4">
      <img
        alt="Studio headphones resting on a desk."
        class="rounded-lg shadow-lg ml-6 w-80 h-50 md:w-150 md:ml-20 md:pb-20 md:h-120 object-cover col-span-2 hover:scale-105 transition transform"
        src="/ianDrums3.jpeg"
      />
    </div> -->
  </section>
</BaseLayout>
