<section
  class="pt-40 mx-auto max-w-sm overflow-hidden rounded-xl shadow-md sm:max-w-md md:max-w-3xl lg:max-w-6xl 2xl:max-w-6xl"
>
  <div class="px-3 grid md:grid-cols-2 gap-16 item-center">
    <div class="ml-1 md:ml-0 md:pl-10 lg:pl-25 2xl:pl-5">
      <ul>
        <li
          class="font-mono text-neutral-500 pt-6 md:px-5 md:pl-1 lg:pl-1 lg:px-20 2xl:px-40 2xl:pl-1"
        >
          email@gmail.com
        </li>
        <li
          class="font-mono text-neutral-500 pt-6 md:px-5 md:pl-1 lg:pl-1 lg:px-20 2xl:px-40 2xl:pl-1"
        >
          5480-2345
        </li>
        <li
          class="font-mono text-neutral-500 pt-6 md:px-5 md:pl-1 lg:pl-1 lg:px-20 2xl:px-40 2xl:pl-1"
        >
          San Jose, Costa Rica
        </li>
      </ul>
    </div>
    <form action="">
      <div
        class="font-mono text-sm space-y-6 pt-6 sm:px-2 md:px-3 lg:px-1 2xl:px-10 text-white"
      >
        <h1 class="ml-1 md:ml-0 text-xl font-bold">
          Name <label class="text-neutral-600" for="">(required)</label>
        </h1>
        <div class="lg:flex mg:grid-cols-2 gap-12">
          <div class="ml-1 md:ml-0 grid">
            <label class="text-sm font-bold" for="">First Name:</label>
            <input
              class="pt-4 w-80 lg:w-45 2xl:w-53 bg-transparent border-b border-neutral-500 focus:outline-none focus:border-white"
              type="text"
            />
          </div>
          <div class="pt-2 md:grid-cols-2">
            <div class="ml-1 md:ml-0 grid">
              <label class="text-sm font-bold" for="">Last Name: </label>
              <input
                class="pt-4 w-80 lg:w-45 2xl:w-70 bg-transparent border-b border-neutral-500 focus:outline-none focus:border-white"
                type="text"
              />
            </div>
          </div>
        </div>
        <div class="ml-1 md:ml-0 grid mg:grid-cols-2">
          <label class="text-sm font-bold" for=""
            >Email: <label class="text-neutral-600" for="">(required)</label>
          </label>
          <input
            name="example@gmail.com"
            class="pt-4 w-80 bg-transparent border-b lg:w-103 2xl:w-130 border-neutral-500 focus:outline-none focus:border-white"
            type="text"
          />
        </div>
        <div class="grid ml-1 md:ml-0 mg:grid-cols-2">
          <label class="pt-4 text-sm font-bold mb-2" for=""
            >Message: <label class="text-neutral-600" for="">(required)</label
            ></label
          >
          <textarea
            class="bg-transparent w-80 lg:w-105 2xl:w-126 px-1 h-20 border border-neutral-700 focus:outline-none focus:border-white"
          ></textarea>

          <label
            class="text-neutral-600 text-sm ml-83 sm:ml-96 md:ml-72 lg:ml-98 2xl:ml-120"
            for="">→</label
          >
        </div>
        <div class="grid ml-1 md:ml-0 mg:grid-cols-2">
          <button
            type="submit"
            class="w-24 p-2 bg-white hover:bg-purple-500 hover:scale-105 transition-transform text-black hover:text-white rounded-2xl
            active:bg-purple-600 active:text-white focus:text-white focus:bg-purple-600"
          >
            <a href="#"> SUBMIT → </a>
          </button>
        </div>
      </div>
    </form>
  </div>
</section>
