<!-- ---------------------------------------- Browse my lastest work ------------------------------------>
<section
  class="pt-40 mx-auto max-w-sm overflow-hidden rounded-xl shadow-md sm:max-w-md md:max-w-2xl lg:max-w-4xl 2xl:max-w-6xl"
>
  <div class="pt-12 md:pt-8 md:grid md:grid-cols-1 md:grid-rows-1 md:gap-4">
    <div class="text-center text-white md:text-left col-span-2 row-start-2">
      <h1 class="sm:pt-2 md:pt-3 lg:pt-4 2xl:pt-5 mx-auto text-3xl">
        Browse my lastest work _____
      </h1>
    </div>
    <div
      class="col-span-2 pt-15 ml-22 sm:pt-10 sm:ml-30 md:-mt-5 md:mr-2 justify-center row-start-2"
    >
      <button
        class="p-2 px-4 bg-white hover:bg-purple-500 hover:scale-105 transition-transform text-black hover:text-white rounded-2xl active:bg-purple-600 active:text-white focus:text-white focus:bg-purple-600"
        >View my lastest project →</button
      >
    </div>
  </div>
  <div
    class="pt-10 gap-2 grid grid-cols-1 ml-22
      sm:grid-cols-2 sm:ml-2
      md:grid-cols-2 md:gap-2
      lg:grid-cols-3 lg:gap-4"
  >
    <div class="hover:scale-105 transition-transform">
      <img
        class="pt-6 px-2 -ml-7 size-50 w-65 object-cover
          sm:pt-0 sm:size-40 sm:w-60
          md:pt-0 md:size-40 md:w-65
          lg:pt-0 lg:size-50 lg:w-75"
        src="/musician.jpg"
        alt=""
      />
      <div>
        <p
          class="text-neutral-500 pt-3 px-2 -ml-7 size-50 w-70 pl-1
            sm:px-10 sm:pl-1 sm:w-60
            md:px-10 md:pl-1 md:w-80
            lg:pl-1 lg:px-20 lg:w-90
            2xl:px-40 2xl:pl-1 2xl:w-120
            text-sm"
        >
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque
          molestias atque voluptates exercitationem dignissimos maiores nihil
          harum dolor culpa quaerat, illum iste unde, hic eum, quam eius tempora
          id quis.
        </p>
      </div>
    </div>
    <div class="hover:scale-105 transition transform">
      <img
        class="pt-6 px-2 -ml-7 size-50 w-65 object-cover
          sm:pt-0 sm:size-40 sm:w-60
          md:pt-0 md:size-40 md:w-65
          lg:pt-0 lg:size-50 lg:w-75"
        src="https://lh3.googleusercontent.com/aida-public/AB6AXuCvO-FP2tyOVfu1AMllmHs-llebLJECPRmoTlbRUje1Tn7IvaDddoX8dIswZgfnHDPhRr6rU1lztQ0pn3UPb9JqgCULkR4nycBzcxMvnFa0PQstSuZYm5DVLTBdxQJnBO3tfQLfdNNmZic_7CCgwl23SekgbrrJkpEA4L3If6uF0h-X0RQNEb5D8FZNdeFlX7NSKR43k7c5VQVc4QW9LXfdv2HkTfgG4zOeA5S9ifVXGn_7b5PVoBQcqwutKN54KvEM1rgRda2i5Bpq"
        alt=""
      />
      <p
        class="text-neutral-500 pt-3 px-2 -ml-7 size-50 w-70 pl-1
            sm:px-10 sm:pl-1 sm:w-60
            md:px-10 md:pl-1 md:w-80
            lg:pl-1 lg:px-20 lg:w-90
            2xl:px-40 2xl:pl-1 2xl:w-120
            text-sm"
      >
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque
        molestias atque voluptates exercitationem dignissimos maiores nihil
        harum dolor culpa quaerat, illum iste unde, hic eum, quam eius tempora
        id quis.
      </p>
    </div>
    <div class="md:pt-10 lg:pt-0 hover:scale-105 transition transform">
      <img
        class="pt-6 -ml-7 size-50 w-65 object-cover
          sm:ml-28 sm:mt-6 sm:size-40 sm:w-60
          md:pt-0 md:ml-45 md:size-40 md:w-65
          lg:ml-0 lg:pt-0 lg:size-50 lg:w-75 lg:mt-0
          2xl:ml-0 2xl:pt-0"
        src="https://lh3.googleusercontent.com/aida-public/AB6AXuDIdz9zdC56WvCg9-snJ3nMpWlBemMQOiFZ4O3XrVxS8Lsh5XycsudJyiL6_1Gi0WyWDlCC_ImqN2-j56cEGwSLWMT8g8oHvz5oma2uzywilMVg8qzQ-rW--8NJjdcTfsCP95nacvatA8Jw4ktC9POh05yZviC0cZJRqsPR0lS0ef_nOLm22gGf2dv4FvVCPXXtOX-TfN1xz5h-NJNvmMSeA6jvN6j7tLmkqR3QXCFO5ffOLKIIYKHauOd6muY33X-C_Fi0alG6ISPw"
        alt=""
      />
      <div>
        <p
          class="text-neutral-500 pt-3 px-2 -ml-7 size-50 w-70 pl-1
            sm:ml-28 sm:w-60 sm:px-10 sm:pl-1
            md:w-80 md:ml-45 md:px-10 md:pl-1
            lg:pl-1 lg:px-20 lg:ml-0 lg:w-90
            2xl:px-40 2xl:pl-1 2xl:w-120
            text-sm"
        >
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque
          molestias atque voluptates exercitationem dignissimos maiores nihil
          harum dolor culpa quaerat, illum iste unde, hic eum, quam eius tempora
          id quis.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- <img
  alt="Photo by Ian V Sol on July 30, 2025. May be an image of lighting."
  class="x5yr21d xu96u03 x10l6tqk x13vifvy x87ps6o xh8yej3"
  crossorigin="anonymous"
  style="object-fit: contain; background-color: black;"
  /> -->
<!-- src="https://scontent.cdninstagram.com/v/t51.82787-15/525184290_18368969680196505_8680410097255324086_n.jpg?stp=dst-jpg_e35_tt6&_nc_cat=101&ig_cache_key=MzY4ODMyNjgxMjgzMDA2OTgyOQ%3D%3D.3-ccb1-7&ccb=1-7&_nc_sid=58cdad&efg=eyJ2ZW5jb2RlX3RhZyI6InhwaWRzLjEyMDB4MTYwMC5zZHIuQzMifQ%3D%3D&_nc_ohc=YI6SlXIWeeEQ7kNvwGSNwG7&_nc_oc=AdkXXSpdyH9iH0QO-0iG4GBgbsn7MxNxH5umVQP3FX4d0qRcfLX0u7I6053hCJYcE-XmttG0dJyI7YdinWHpotCx&_nc_ad=z-m&_nc_cid=0&_nc_zt=23&_nc_ht=scontent.cdninstagram.com&_nc_gid=fIuC8mOKaeHr0z90JsgfOA&oh=00_AffkHCgI5EyCcMtQTjA4DtXFTud1GctWpzZVe6lZ-ACHyQ&oe=68F38F6A"
  sizes="256.5px"
  srcset="https://scontent.cdninstagram.com/v/t51.82787-15/525184290_18368969680196505_8680410097255324086_n.jpg?stp=dst-jpg_e35_p1080x1080_tt6&_nc_cat=101&ig_cache_key=MzY4ODMyNjgxMjgzMDA2OTgyOQ%3D%3D.3-ccb1-7&ccb=1-7&_nc_sid=58cdad&efg=eyJ2ZW5jb2RlX3RhZyI6InhwaWRzLjEyMDB4MTYwMC5zZHIuQzMifQ%3D%3D&_nc_ohc=YI6SlXIWeeEQ7kNvwGSNwG7&_nc_oc=AdkXXSpdyH9iH0QO-0iG4GBgbsn7MxNxH5umVQP3FX4d0qRcfLX0u7I6053hCJYcE-XmttG0dJyI7YdinWHpotCx&_nc_ad=z-m&_nc_cid=0&_nc_zt=23&_nc_ht=scontent.cdninstagram.com&_nc_gid=fIuC8mOKaeHr0z90JsgfOA&oh=00_Afe7O09noKV4RLiziywcn7Bf3klahLF9ldekOokT6oqgiw&oe=68F38F6A 1080w,https://scontent.cdninstagram.com/v/t51.82787-15/525184290_18368969680196505_8680410097255324086_n.jpg?stp=dst-jpg_e35_p720x720_tt6&_nc_cat=101&ig_cache_key=MzY4ODMyNjgxMjgzMDA2OTgyOQ%3D%3D.3-ccb1-7&ccb=1-7&_nc_sid=58cdad&efg=eyJ2ZW5jb2RlX3RhZyI6InhwaWRzLjEyMDB4MTYwMC5zZHIuQzMifQ%3D%3D&_nc_ohc=YI6SlXIWeeEQ7kNvwGSNwG7&_nc_oc=AdkXXSpdyH9iH0QO-0iG4GBgbsn7MxNxH5umVQP3FX4d0qRcfLX0u7I6053hCJYcE-XmttG0dJyI7YdinWHpotCx&_nc_ad=z-m&_nc_cid=0&_nc_zt=23&_nc_ht=scontent.cdninstagram.com&_nc_gid=fIuC8mOKaeHr0z90JsgfOA&oh=00_Affc7_cZ2eNLdKf_SaKBxEhmyhKKWp0vZ_biYc6wdVsnew&oe=68F38F6A 720w,https://scontent.cdninstagram.com/v/t51.82787-15/525184290_18368969680196505_8680410097255324086_n.jpg?stp=dst-jpg_e35_p640x640_sh0.08_tt6&_nc_cat=101&ig_cache_key=MzY4ODMyNjgxMjgzMDA2OTgyOQ%3D%3D.3-ccb1-7&ccb=1-7&_nc_sid=58cdad&efg=eyJ2ZW5jb2RlX3RhZyI6InhwaWRzLjEyMDB4MTYwMC5zZHIuQzMifQ%3D%3D&_nc_ohc=YI6SlXIWeeEQ7kNvwGSNwG7&_nc_oc=AdkXXSpdyH9iH0QO-0iG4GBgbsn7MxNxH5umVQP3FX4d0qRcfLX0u7I6053hCJYcE-XmttG0dJyI7YdinWHpotCx&_nc_ad=z-m&_nc_cid=0&_nc_zt=23&_nc_ht=scontent.cdninstagram.com&_nc_gid=fIuC8mOKaeHr0z90JsgfOA&oh=00_AfeMl4QP_KmorwZ4vhZfESoY8MR8t5PuU1QbEWfQEoVDMQ&oe=68F38F6A 640w,https://scontent.cdninstagram.com/v/t51.82787-15/525184290_18368969680196505_8680410097255324086_n.jpg?stp=dst-jpg_e35_p480x480_tt6&_nc_cat=101&ig_cache_key=MzY4ODMyNjgxMjgzMDA2OTgyOQ%3D%3D.3-ccb1-7&ccb=1-7&_nc_sid=58cdad&efg=eyJ2ZW5jb2RlX3RhZyI6InhwaWRzLjEyMDB4MTYwMC5zZHIuQzMifQ%3D%3D&_nc_ohc=YI6SlXIWeeEQ7kNvwGSNwG7&_nc_oc=AdkXXSpdyH9iH0QO-0iG4GBgbsn7MxNxH5umVQP3FX4d0qRcfLX0u7I6053hCJYcE-XmttG0dJyI7YdinWHpotCx&_nc_ad=z-m&_nc_cid=0&_nc_zt=23&_nc_ht=scontent.cdninstagram.com&_nc_gid=fIuC8mOKaeHr0z90JsgfOA&oh=00_AfcpO3jEUKzg5xYvCaBoiQJM37Hh_ax0pEJy1DWvumX0Aw&oe=68F38F6A 480w,https://scontent.cdninstagram.com/v/t51.82787-15/525184290_18368969680196505_8680410097255324086_n.jpg?stp=dst-jpg_e35_p320x320_tt6&_nc_cat=101&ig_cache_key=MzY4ODMyNjgxMjgzMDA2OTgyOQ%3D%3D.3-ccb1-7&ccb=1-7&_nc_sid=58cdad&efg=eyJ2ZW5jb2RlX3RhZyI6InhwaWRzLjEyMDB4MTYwMC5zZHIuQzMifQ%3D%3D&_nc_ohc=YI6SlXIWeeEQ7kNvwGSNwG7&_nc_oc=AdkXXSpdyH9iH0QO-0iG4GBgbsn7MxNxH5umVQP3FX4d0qRcfLX0u7I6053hCJYcE-XmttG0dJyI7YdinWHpotCx&_nc_ad=z-m&_nc_cid=0&_nc_zt=23&_nc_ht=scontent.cdninstagram.com&_nc_gid=fIuC8mOKaeHr0z90JsgfOA&oh=00_AfeQo1mkmCURH1nNdtgU4BhPem93Mv1VIK-oLgg4DtFpKA&oe=68F38F6A 320w,https://scontent.cdninstagram.com/v/t51.82787-15/525184290_18368969680196505_8680410097255324086_n.jpg?stp=dst-jpg_e35_p240x240_tt6&_nc_cat=101&ig_cache_key=MzY4ODMyNjgxMjgzMDA2OTgyOQ%3D%3D.3-ccb1-7&ccb=1-7&_nc_sid=58cdad&efg=eyJ2ZW5jb2RlX3RhZyI6InhwaWRzLjEyMDB4MTYwMC5zZHIuQzMifQ%3D%3D&_nc_ohc=YI6SlXIWeeEQ7kNvwGSNwG7&_nc_oc=AdkXXSpdyH9iH0QO-0iG4GBgbsn7MxNxH5umVQP3FX4d0qRcfLX0u7I6053hCJYcE-XmttG0dJyI7YdinWHpotCx&_nc_ad=z-m&_nc_cid=0&_nc_zt=23&_nc_ht=scontent.cdninstagram.com&_nc_gid=fIuC8mOKaeHr0z90JsgfOA&oh=00_Afexmm-KHXzz9ih-67kCkgTTluWyiofufJSUyMo7J76kGA&oe=68F38F6A 240w" -->

<!-- <img alt="Photo by Ian V Sol on July 04, 2025." class="x5yr21d xu96u03 x10l6tqk x13vifvy x87ps6o xh8yej3" crossorigin="anonymous" src="https://scontent.cdninstagram.com/v/t51.82787-15/515287478_18365867194196505_2898123894056018717_n.jpg?stp=dst-jpegr_e35_tt6&amp;_nc_cat=109&amp;ig_cache_key=MzY2OTU5MDUzNjM5MjIwMjAzMw%3D%3D.3-ccb1-7&amp;ccb=1-7&amp;_nc_sid=58cdad&amp;efg=eyJ2ZW5jb2RlX3RhZyI6InhwaWRzLjE0NDB4MTkyMC5oZHIuQzMifQ%3D%3D&amp;_nc_ohc=_CXMCXi9xJMQ7kNvwFbuV03&amp;_nc_oc=AdlgKzoGfIp2CT2Gv2RwPx5FwnjGSlAPIefC_VWvrsTNBs7h7ZiCJbC71kCB5lEY906mMGfraz9zYkj6wYDgLxGQ&amp;_nc_ad=z-m&amp;_nc_cid=0&amp;_nc_zt=23&amp;se=-1&amp;_nc_ht=scontent.cdninstagram.com&amp;_nc_gid=fIuC8mOKaeHr0z90JsgfOA&amp;oh=00_AfeBiHAPkWKdKW_p4-PzS2ESC8N-onlHLbcGRzM6s8eEvw&amp;oe=68F3812A" sizes="256.5px" srcset="https://scontent.cdninstagram.com/v/t51.82787-15/515287478_18365867194196505_2898123894056018717_n.jpg?stp=dst-jpegr_e35_p1080x1080_tt6&amp;_nc_cat=109&amp;ig_cache_key=MzY2OTU5MDUzNjM5MjIwMjAzMw%3D%3D.3-ccb1-7&amp;ccb=1-7&amp;_nc_sid=58cdad&amp;efg=eyJ2ZW5jb2RlX3RhZyI6InhwaWRzLjE0NDB4MTkyMC5oZHIuQzMifQ%3D%3D&amp;_nc_ohc=_CXMCXi9xJMQ7kNvwFbuV03&amp;_nc_oc=AdlgKzoGfIp2CT2Gv2RwPx5FwnjGSlAPIefC_VWvrsTNBs7h7ZiCJbC71kCB5lEY906mMGfraz9zYkj6wYDgLxGQ&amp;_nc_ad=z-m&amp;_nc_cid=0&amp;_nc_zt=23&amp;se=-1&amp;_nc_ht=scontent.cdninstagram.com&amp;_nc_gid=fIuC8mOKaeHr0z90JsgfOA&amp;oh=00_Afe93Z8b02yDsf-srzOPdD9yIFScZiX9S2bZntdKNlaz7w&amp;oe=68F3812A 1080w,https://scontent.cdninstagram.com/v/t51.82787-15/515287478_18365867194196505_2898123894056018717_n.jpg?stp=dst-jpegr_e35_p720x720_tt6&amp;_nc_cat=109&amp;ig_cache_key=MzY2OTU5MDUzNjM5MjIwMjAzMw%3D%3D.3-ccb1-7&amp;ccb=1-7&amp;_nc_sid=58cdad&amp;efg=eyJ2ZW5jb2RlX3RhZyI6InhwaWRzLjE0NDB4MTkyMC5oZHIuQzMifQ%3D%3D&amp;_nc_ohc=_CXMCXi9xJMQ7kNvwFbuV03&amp;_nc_oc=AdlgKzoGfIp2CT2Gv2RwPx5FwnjGSlAPIefC_VWvrsTNBs7h7ZiCJbC71kCB5lEY906mMGfraz9zYkj6wYDgLxGQ&amp;_nc_ad=z-m&amp;_nc_cid=0&amp;_nc_zt=23&amp;se=-1&amp;_nc_ht=scontent.cdninstagram.com&amp;_nc_gid=fIuC8mOKaeHr0z90JsgfOA&amp;oh=00_AfdgafbOKzKqgJIYEOjxWx09G3Q8luCBhky74NSfdmYP1w&amp;oe=68F3812A 720w,https://scontent.cdninstagram.com/v/t51.82787-15/515287478_18365867194196505_2898123894056018717_n.jpg?stp=dst-jpegr_e35_p640x640_sh0.08_tt6&amp;_nc_cat=109&amp;ig_cache_key=MzY2OTU5MDUzNjM5MjIwMjAzMw%3D%3D.3-ccb1-7&amp;ccb=1-7&amp;_nc_sid=58cdad&amp;efg=eyJ2ZW5jb2RlX3RhZyI6InhwaWRzLjE0NDB4MTkyMC5oZHIuQzMifQ%3D%3D&amp;_nc_ohc=_CXMCXi9xJMQ7kNvwFbuV03&amp;_nc_oc=AdlgKzoGfIp2CT2Gv2RwPx5FwnjGSlAPIefC_VWvrsTNBs7h7ZiCJbC71kCB5lEY906mMGfraz9zYkj6wYDgLxGQ&amp;_nc_ad=z-m&amp;_nc_cid=0&amp;_nc_zt=23&amp;se=-1&amp;_nc_ht=scontent.cdninstagram.com&amp;_nc_gid=fIuC8mOKaeHr0z90JsgfOA&amp;oh=00_AfdF1t8tbLz23AUXFpH5L-ORV7hxzPiDhlmkYVfiwhA-Kw&amp;oe=68F3812A 640w,https://scontent.cdninstagram.com/v/t51.82787-15/515287478_18365867194196505_2898123894056018717_n.jpg?stp=dst-jpegr_e35_p480x480_tt6&amp;_nc_cat=109&amp;ig_cache_key=MzY2OTU5MDUzNjM5MjIwMjAzMw%3D%3D.3-ccb1-7&amp;ccb=1-7&amp;_nc_sid=58cdad&amp;efg=eyJ2ZW5jb2RlX3RhZyI6InhwaWRzLjE0NDB4MTkyMC5oZHIuQzMifQ%3D%3D&amp;_nc_ohc=_CXMCXi9xJMQ7kNvwFbuV03&amp;_nc_oc=AdlgKzoGfIp2CT2Gv2RwPx5FwnjGSlAPIefC_VWvrsTNBs7h7ZiCJbC71kCB5lEY906mMGfraz9zYkj6wYDgLxGQ&amp;_nc_ad=z-m&amp;_nc_cid=0&amp;_nc_zt=23&amp;se=-1&amp;_nc_ht=scontent.cdninstagram.com&amp;_nc_gid=fIuC8mOKaeHr0z90JsgfOA&amp;oh=00_Afc2wmAwwIIM4MLRZ4R2jkqgsqKT44HWszKBViYdCAzyow&amp;oe=68F3812A 480w,https://scontent.cdninstagram.com/v/t51.82787-15/515287478_18365867194196505_2898123894056018717_n.jpg?stp=dst-jpegr_e35_p320x320_tt6&amp;_nc_cat=109&amp;ig_cache_key=MzY2OTU5MDUzNjM5MjIwMjAzMw%3D%3D.3-ccb1-7&amp;ccb=1-7&amp;_nc_sid=58cdad&amp;efg=eyJ2ZW5jb2RlX3RhZyI6InhwaWRzLjE0NDB4MTkyMC5oZHIuQzMifQ%3D%3D&amp;_nc_ohc=_CXMCXi9xJMQ7kNvwFbuV03&amp;_nc_oc=AdlgKzoGfIp2CT2Gv2RwPx5FwnjGSlAPIefC_VWvrsTNBs7h7ZiCJbC71kCB5lEY906mMGfraz9zYkj6wYDgLxGQ&amp;_nc_ad=z-m&amp;_nc_cid=0&amp;_nc_zt=23&amp;se=-1&amp;_nc_ht=scontent.cdninstagram.com&amp;_nc_gid=fIuC8mOKaeHr0z90JsgfOA&amp;oh=00_Afcy2UhWG39ltFlYaRfnqc3SCKQ_apTB4GGdXIt9SG1tQQ&amp;oe=68F3812A 320w,https://scontent.cdninstagram.com/v/t51.82787-15/515287478_18365867194196505_2898123894056018717_n.jpg?stp=dst-jpegr_e35_p240x240_tt6&amp;_nc_cat=109&amp;ig_cache_key=MzY2OTU5MDUzNjM5MjIwMjAzMw%3D%3D.3-ccb1-7&amp;ccb=1-7&amp;_nc_sid=58cdad&amp;efg=eyJ2ZW5jb2RlX3RhZyI6InhwaWRzLjE0NDB4MTkyMC5oZHIuQzMifQ%3D%3D&amp;_nc_ohc=_CXMCXi9xJMQ7kNvwFbuV03&amp;_nc_oc=AdlgKzoGfIp2CT2Gv2RwPx5FwnjGSlAPIefC_VWvrsTNBs7h7ZiCJbC71kCB5lEY906mMGfraz9zYkj6wYDgLxGQ&amp;_nc_ad=z-m&amp;_nc_cid=0&amp;_nc_zt=23&amp;se=-1&amp;_nc_ht=scontent.cdninstagram.com&amp;_nc_gid=fIuC8mOKaeHr0z90JsgfOA&amp;oh=00_Afcpm3O5w4vGvyRSxHo6zTgjWrBXW1YWwsbUihDR75RUYA&amp;oe=68F3812A 240w" style="object-fit: contain; background-color: black;"> -->
