---
import AboutMe from "./AboutMe.astro";
import LastestWork from "./LastestWork.astro";
import Contact from "./Contact.astro";
---

<main>
  <!-- ------- Main Screen------- -->
  <section
    class="pt-20 mx-auto max-w-sm overflow-hidden rounded-xl shadow-md sm:max-w-md md:max-w-2xl lg:max-w-4xl 2xl:max-w-6xl"
    id="about"
  >
    <div class="grid md:grid-cols-2 gap-16 items-center">
      <div class="space-y-10 pb-15 text-white">
        <h3 class="text-2xl ml-5 md:text-4xl font-bold">
          Music Producer and Sound Producer
        </h3>
        <p
          class="text-text-secondary-light ml-5 text-neutral-600 dark:text-text-secondary-dark"
        >
          With over a decade of experience in the music industry, I've had the
          pleasure of working with a diverse range of talented artists. My
          passion is to bring a creative vision to life through sound, ensuring
          every track is polished, powerful, and emotionally resonant.
        </p>
        <div class="pl-2 ml-8 lg:ml-0 pt-10">
          <button
            class="p-2 px-4 bg-white hover:bg-purple-500 hover:scale-105 focus:outline-purple-500 focus:border-purple-500 transition-transform text-black hover:text-white rounded-2xl"
          >
            <a href="#"> Browse my work </a>
          </button>
          <button
            class="p-2 px-4 ml-2 bg-neutral-500 hover:bg-purple-500 hover:scale-105 focus:bg-purple-500 transition-transform text-white hover:text-white rounded-2xl"
          >
            <a href="#"> Get in touch </a>
          </button>
        </div>
      </div>
      <div class="grid grid-cols-2">
        <img
          alt="Julian, the music producer, smiling."
          class="rounded-lg shadow-lg w-full h-124 object-cover col-span-2 hover:scale-105 transition transform"
          src="https://scontent.cdninstagram.com/v/t39.30808-6/471170147_18341546389196505_4142286707890604400_n.jpg?stp=dst-jpg_e35_tt6&_nc_cat=109&ig_cache_key=MzQ3MjY4MjIyOTE1NzI3MjUzNg%3D%3D.3-ccb1-7&ccb=1-7&_nc_sid=58cdad&efg=eyJ2ZW5jb2RlX3RhZyI6InhwaWRzLjE0NDB4MTgwMC5zZHIuQzMifQ%3D%3D&_nc_ohc=tr4v3rA-TBEQ7kNvwFw3Kv1&_nc_oc=AdnGEDoRmYPBpsIjRFwM8HKAHlVb4yVsFolXmIt0lC1buNk7mTGGZFFn2VQQZRhOJoCLwbwkiQim2UyYrqjO_tZg&_nc_ad=z-m&_nc_cid=0&_nc_zt=23&_nc_ht=scontent.cdninstagram.com&_nc_gid=fIuC8mOKaeHr0z90JsgfOA&oh=00_Affz2LKWpC3puT_u1juzv74vmLfYC7yrVD_PNzqjcFZfOA&oe=68F36C28"
          sizes="273.59375px"
          srcset="https://scontent.cdninstagram.com/v/t39.30808-6/471170147_18341546389196505_4142286707890604400_n.jpg?stp=dst-jpg_e35_p1080x1080_tt6&_nc_cat=109&ig_cache_key=MzQ3MjY4MjIyOTE1NzI3MjUzNg%3D%3D.3-ccb1-7&ccb=1-7&_nc_sid=58cdad&efg=eyJ2ZW5jb2RlX3RhZyI6InhwaWRzLjE0NDB4MTgwMC5zZHIuQzMifQ%3D%3D&_nc_ohc=tr4v3rA-TBEQ7kNvwFw3Kv1&_nc_oc=AdnGEDoRmYPBpsIjRFwM8HKAHlVb4yVsFolXmIt0lC1buNk7mTGGZFFn2VQQZRhOJoCLwbwkiQim2UyYrqjO_tZg&_nc_ad=z-m&_nc_cid=0&_nc_zt=23&_nc_ht=scontent.cdninstagram.com&_nc_gid=fIuC8mOKaeHr0z90JsgfOA&oh=00_Afc7mLd_mfmrNC1FJk87fRj9oZe33U1UAJB6WvsC2MnaAA&oe=68F36C28 1080w,https://scontent.cdninstagram.com/v/t39.30808-6/471170147_18341546389196505_4142286707890604400_n.jpg?stp=dst-jpg_e35_p720x720_tt6&_nc_cat=109&ig_cache_key=MzQ3MjY4MjIyOTE1NzI3MjUzNg%3D%3D.3-ccb1-7&ccb=1-7&_nc_sid=58cdad&efg=eyJ2ZW5jb2RlX3RhZyI6InhwaWRzLjE0NDB4MTgwMC5zZHIuQzMifQ%3D%3D&_nc_ohc=tr4v3rA-TBEQ7kNvwFw3Kv1&_nc_oc=AdnGEDoRmYPBpsIjRFwM8HKAHlVb4yVsFolXmIt0lC1buNk7mTGGZFFn2VQQZRhOJoCLwbwkiQim2UyYrqjO_tZg&_nc_ad=z-m&_nc_cid=0&_nc_zt=23&_nc_ht=scontent.cdninstagram.com&_nc_gid=fIuC8mOKaeHr0z90JsgfOA&oh=00_AfdvadD-oSG9f-s6LexHXOe3wNWwAcP825AhSrwz24NMFA&oe=68F36C28 720w,https://scontent.cdninstagram.com/v/t39.30808-6/471170147_18341546389196505_4142286707890604400_n.jpg?stp=dst-jpg_e35_p640x640_sh0.08_tt6&_nc_cat=109&ig_cache_key=MzQ3MjY4MjIyOTE1NzI3MjUzNg%3D%3D.3-ccb1-7&ccb=1-7&_nc_sid=58cdad&efg=eyJ2ZW5jb2RlX3RhZyI6InhwaWRzLjE0NDB4MTgwMC5zZHIuQzMifQ%3D%3D&_nc_ohc=tr4v3rA-TBEQ7kNvwFw3Kv1&_nc_oc=AdnGEDoRmYPBpsIjRFwM8HKAHlVb4yVsFolXmIt0lC1buNk7mTGGZFFn2VQQZRhOJoCLwbwkiQim2UyYrqjO_tZg&_nc_ad=z-m&_nc_cid=0&_nc_zt=23&_nc_ht=scontent.cdninstagram.com&_nc_gid=fIuC8mOKaeHr0z90JsgfOA&oh=00_AffNgXWQLv5boOHre0p0H9yynZxdT5bWdUwHWpc1AVwhIA&oe=68F36C28 640w,https://scontent.cdninstagram.com/v/t39.30808-6/471170147_18341546389196505_4142286707890604400_n.jpg?stp=dst-jpg_e35_p480x480_tt6&_nc_cat=109&ig_cache_key=MzQ3MjY4MjIyOTE1NzI3MjUzNg%3D%3D.3-ccb1-7&ccb=1-7&_nc_sid=58cdad&efg=eyJ2ZW5jb2RlX3RhZyI6InhwaWRzLjE0NDB4MTgwMC5zZHIuQzMifQ%3D%3D&_nc_ohc=tr4v3rA-TBEQ7kNvwFw3Kv1&_nc_oc=AdnGEDoRmYPBpsIjRFwM8HKAHlVb4yVsFolXmIt0lC1buNk7mTGGZFFn2VQQZRhOJoCLwbwkiQim2UyYrqjO_tZg&_nc_ad=z-m&_nc_cid=0&_nc_zt=23&_nc_ht=scontent.cdninstagram.com&_nc_gid=fIuC8mOKaeHr0z90JsgfOA&oh=00_Affq3hofEQ97tzYzseamp6bOSjIZafTk89ugamdMTvl16A&oe=68F36C28 480w,https://scontent.cdninstagram.com/v/t39.30808-6/471170147_18341546389196505_4142286707890604400_n.jpg?stp=dst-jpg_e35_p320x320_tt6&_nc_cat=109&ig_cache_key=MzQ3MjY4MjIyOTE1NzI3MjUzNg%3D%3D.3-ccb1-7&ccb=1-7&_nc_sid=58cdad&efg=eyJ2ZW5jb2RlX3RhZyI6InhwaWRzLjE0NDB4MTgwMC5zZHIuQzMifQ%3D%3D&_nc_ohc=tr4v3rA-TBEQ7kNvwFw3Kv1&_nc_oc=AdnGEDoRmYPBpsIjRFwM8HKAHlVb4yVsFolXmIt0lC1buNk7mTGGZFFn2VQQZRhOJoCLwbwkiQim2UyYrqjO_tZg&_nc_ad=z-m&_nc_cid=0&_nc_zt=23&_nc_ht=scontent.cdninstagram.com&_nc_gid=fIuC8mOKaeHr0z90JsgfOA&oh=00_AffwgSCn78NxEER7tSDQG69q0A8BXAX-xmoUTRIa7tIqeA&oe=68F36C28 320w,https://scontent.cdninstagram.com/v/t39.30808-6/471170147_18341546389196505_4142286707890604400_n.jpg?stp=dst-jpg_e35_p240x240_tt6&_nc_cat=109&ig_cache_key=MzQ3MjY4MjIyOTE1NzI3MjUzNg%3D%3D.3-ccb1-7&ccb=1-7&_nc_sid=58cdad&efg=eyJ2ZW5jb2RlX3RhZyI6InhwaWRzLjE0NDB4MTgwMC5zZHIuQzMifQ%3D%3D&_nc_ohc=tr4v3rA-TBEQ7kNvwFw3Kv1&_nc_oc=AdnGEDoRmYPBpsIjRFwM8HKAHlVb4yVsFolXmIt0lC1buNk7mTGGZFFn2VQQZRhOJoCLwbwkiQim2UyYrqjO_tZg&_nc_ad=z-m&_nc_cid=0&_nc_zt=23&_nc_ht=scontent.cdninstagram.com&_nc_gid=fIuC8mOKaeHr0z90JsgfOA&oh=00_AfcBJH47hNoBHrNdt9QAAjTe2VeaQ7Mt8XR71GdrvA2CSQ&oe=68F36C28 240w"
        />
      </div>
    </div>
  </section>

  <LastestWork />
  <AboutMe />
  <Contact />
</main>
