---
import AboutMe from "./AboutMe.astro";
import WorkWithMe from "./WorkWithMe.astro";
import ContactForm from "../../react/components/ContactForm";
---

<main>
  <!-- ------- Main Screen------- -->
  <section
    class="pt-20 mx-auto max-w-sm overflow-hidden rounded-xl shadow-md sm:max-w-md md:max-w-2xl lg:max-w-4xl 2xl:max-w-6xl"
    id="about"
  >
    <div class="grid md:grid-cols-2 gap-16 items-center">
      <div class="space-y-10 pb-15 text-white">
        <h3 class="text-2xl ml-5 md:text-4xl font-bold">
          Music Producer and Sound Producer
        </h3>
        <p
          class="text-text-secondary-light ml-5 text-neutral-600 dark:text-text-secondary-dark"
        >
          With over a decade of experience in the music industry, I've had the
          pleasure of working with a diverse range of talented artists. My
          passion is to bring a creative vision to life through sound, ensuring
          every track is polished, powerful, and emotionally resonant.
        </p>
        <div class="pl-2 md:space-y-5 ml-8 lg:ml-0 pt-10">
          <!-- <button> </button> -->
          <a
            class="p-2 px-4 bg-white text-black hover:bg-purple-500 hover:scale-105 transition-all duration-200 ease-in-out active:scale-95 focus:outline-none focus:ring-2 focus:ring-purple-600 inline-block [--tw-text-opacity:1] hover:text-white
          active:bg-purple-600 active:text-white focus:text-white focus:bg-purple-600 rounded-2xl"
            href="/second-pages/ServicesPage"
          >
            Browse my work
          </a>
          <a
            class="p-2 px-4 ml-2 md:ml-2 bg-neutral-500 hover:bg-purple-500 hover:scale-105 transition-all duration-200 ease-in-out active:scale-95 focus:outline-none focus:ring-2 focus:ring-purple-600 inline-block [--tw-text-opacity:1]
          text-white hover:text-white rounded-2xl active:bg-purple-600 active:text-white focus:text-white focus:bg-purple-600"
            href="#contact"
          >
            Get in touch
          </a>
        </div>
      </div>
      <div class="grid grid-cols-2">
        <img
          alt="Julian, the music producer, smiling."
          class="rounded-lg shadow-lg h-80 sm:w-full sm:h-124 object-cover col-span-2 hover:scale-105 transition transform"
          src="/ianPhoto.jpeg"
        />
      </div>
    </div>
  </section>

  <WorkWithMe />
  <AboutMe />
  <section id="contact">
    <ContactForm client:only="react" />
  </section>
</main>
